@import url('style.css');

body > article{
    background-image: url('../imgs/pedidos.jpg');
}

body > main > section > div > ul{
    list-style-image: url('../imgs/esfera_do_dragao.png');
}

body > main > section > div > h2{
    color:green;
}
section.card {
    display: flex;
    margin-bottom: 1rem;
}

section.card > img {
    width: 5rem;
    height: 3rem;
    margin-right: 1rem;
}

