@import url('style.css');

body > article {
    background-image: url('../imgs/galeria.jpg');
}
h2{
    color:green;
}
body > main > section{
    display: flex;
    margin-top: 2rem;
}
body > main > section > div{
    margin-left: 1rem;
}
p{  
    font-size: 1rem;
    padding: 0.5rem;
}