@font-face{
    src: url('../fonts/Saiyan-Sans.ttf');
    font-family: 'Saiyan';
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
body > header:nth-child(1){
    background-color: orangered;
    display: flex; 
    align-items: center;
    height: 2.5rem;
}
body > footer{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    height: 2.5rem;
}
body > footer > div:nth-child(1){
    display: flex;
    align-items: center;
    color: white;
}
/*body > footer > div:nth-child(2){
    display: flex;
    align-items: center;
    color: white;
}*/
body > footer > div > img{
    width:1.7rem;
}
body > header:nth-child(1) > div {
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    font-family: 'Saiyan';
}
body > header:nth-child(1) > div > img{
    width:2.0rem;
    padding:0.2rem;
}
body > header:nth-child(1) > a > img{
    padding:0.5rem;
    width:2.0rem;
}
body > header:nth-child(1) > div > span{
    font-family: 'Saiyan', 'sans-serif';
    font-size:1.5rem;
    color: #ffffff;
    padding: 0.3rem;
}
body > nav{
    background-color: orange;
    height: 2rem;
    display:flex;
    align-items:center;
}
span, a{
    color:white;
    margin-left:0.5rem;
}
body > article{
    height: 8rem;
    background-position: center;
    background-size: cover;
    display:flex;
    align-items:flex-end;

}
body > article > header{
    background-color: rgba(255, 0, 0, 0.671);
    width:100%;
    display:flex;
    justify-content: center;
    font-size: 2rem;
}

h1{
    text-align: center;
    margin-bottom:1rem;
}
main{
    padding: 1rem;
    margin: 1rem;
}
.card{
    box-shadow: 0rem 0rem 1rem #000000a8;
    background-color: #f1f1f1;
    font-family: 'Raleway';
    border-radius:1rem;
    padding:1rem;
}